<AuthorizeView>
<Authorized>
@GetUserName(context)
<a href="user/logout">
@CommonMessages.CloseSessionText
</a>
</Authorized>
<NotAuthorized>
<a href="user/register">
@CommonMessages.CreateAccountText
</a>
<a href="user/login">
@CommonMessages.LoginText
</a>
</NotAuthorized>
</AuthorizeView>
@code{
string GetUserName(AuthenticationState context) =>
    context.User.Claims.Where(c => c.Type == "FullName")
    .Select(c => c.Value)
    .FirstOrDefault() ?? context.User.Identity.Name;
}
