@page "/user/logout"
@using NorthWind.Membership.Frontend.RazorViews.Resources
<button class="btn btn-primary"
        @onclick=@(async () => await CloseSession())>
    @CommonMessages.CloseSessionText
</button>
